body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

.custom-btn-color {
  background-color: #17617e !important;
  border-color: #17617e !important;
}

.custom-pointer {
  cursor: pointer;
}

.custom-site-icon {
  width: 100px;
}

.custom-profile-pic:hover {
  opacity: 0.7;
}

.custom-user-icon {
  width: 70px;
}

.custom-skipper-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.custom-see-all-orders {
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
  text-decoration: underline;
}

.custom-see-all-orders:hover {
  color: #aaa;
}

/* bootstrap selector */
.popover-arrow {
  display: none !important;
}

.custom-dashboard-margin {
  margin-top: 3rem;
}

.custom-mainboard-padding {
  padding: 1.5em;
}

.custom-user-icon-margin {
  margin-right: 1.5em;
}

.custom-family-balance-margin {
  margin-bottom: 1em;
}

@media only screen and (max-width: 800px) {
  .custom-group-balance-text-size {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 600px) {
  .custom-hidden-mobile {
    display: none;
  }

  .custom-text-mobile {
    font-size: 0.75rem;
  }
  .custom-text-mobile-smaller {
    font-size: 0.75rem;
  }

  .custom-site-icon {
    width: 75px;
  }

  .custom-dashboard-margin {
    margin-top: 1rem;
  }

  .custom-mainboard-padding {
    padding: 1em 0.2em;
  }

  .custom-group-balance-text-size {
    font-size: 1em;
  }

  .custom-user-icon {
    width: 40px;
  }

  .custom-user-icon-margin {
    margin-right: 0.5em;
  }

  /* bootstrap selector */
  .accordion-button,
  .accordion-body {
    padding: 0.5em 0.5em !important;
  }

  .custom-inner-accordian-padding-mobile {
    padding: 0 0.5em 0 0 !important;
  }

  .custom-family-balance-margin {
    margin-bottom: 0.5em;
  }
}
