body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

.custom-pointer {
  cursor: pointer;
}

.custom-profile-pic:hover {
  opacity: 0.7;
}

.custom-user-icon {
  width: 70px;
}

.custom-btn-color {
  background-color: #17617e !important;
  border-color: #17617e !important;
}

.custom-skipper-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.custom-see-all-orders {
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
  text-decoration: underline;
}

.custom-see-all-orders:hover {
  color: #aaa;
}

.popover-arrow {
  display: none !important;
}
